.style-div
  color:#555
  background-color:#EEE

.intro
  padding-top: 7.5em
  padding-left: 1em

.portfolio-lg
  background-color: #FFF

.portfolio-sm
  background-color: #DDD

.social
  list-style: none

.cage
  width: 5em

.svg-icon
  max-width: 100%
#about
  background-color: blue

.icon-1
  fill: #000
  &:hover
    fill: ##4078c0
    transform: scale(1.25)
    transition: background-color .5s, transform .5s ease-out

.icon-2
  fill: #000
  &:hover
    fill: #0077b5
    transform: scale(1.25)
    transition: background-color .5s, transform .5s ease-out

.icon-3
  fill: #000
  &:hover
    fill: #3B5998
    transform: scale(1.25)
    transition: background-color .5s, transform .5s ease-out

.icon-4
  fill: #000
  &:hover
    fill: #0084b4
    transform: scale(1.25)
    transition: background-color .5s, transform .5s ease-out
